<body>
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Password recovery Pages</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/auth/login">Auth</a></li>
                                    <li class="active" aria-current="page">Password recovery</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer_login">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form">
                        <form method="POST" action="/auth/info-to-recover">
                            <div class="default-form-box mb-20">
                                <label>Email address <span>*</span></label>
                                <input type="text" id="email" name="email">
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Username <span>*</span></label>
                                <input type="text" id="username" name="username">
                            </div>
                           {{!--  <div class="default-form-box mb-20">
                                <label>New password <span>*</span></label>
                                <input type="password">
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Repeat new password <span>*</span></label>
                                <input type="password">
                            </div> --}}
                            <div class="login_submit d-flex flex-column align-items-center">
                                <button type="submit">Recovery</button>
                                <a href="/auth/login" class="mt-3">Back to login!</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
</body>